/**
 * general
 */
.page-header {
	text-align: center;
}

.even {
	background: #2c2c2c;
}

body > .alert,
header .alert {
	margin-top: 35px;
}

.xdebug-error td {
	color: #333;
}

.xdebug-error td a {
	color: #000 !important;
	font-weight: bold !important;
}


/**
 * header
 */



.navigation {
	margin-top: 50px;
}

.navigation .username {
	vertical-align: middle;
}

.navigation .btn {
	border-left: 1px solid #5B6C7C;
}

.btn.logout {
	float: none;
	margin-left: 8px;
}



/**
 * login / register form
 */

.form-control::-moz-placeholder {
	color: #aaa;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #aaa;
}

.form-control::-webkit-input-placeholder {
	color: #aaa;
}

.form-control {
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}

.box {
	color: #323c46;
	padding: 15px 35px 45px;
	/*margin: 50px auto;*/
	margin: 0 auto 50px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.box-auth {
	margin-top: 50px;
	max-width: 380px;
}

.box .box-heading,
.box .box-auth-heading,
.box .checkbox {
	margin-bottom: 30px;
}
.box-heading {
	padding-top: 10px;
}

.box .checkbox {
	font-weight: normal;
}

.box .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
}

.box .form-control:focus {
	z-index: 2;
}

.box input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.box input[type="password"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.box-auth .btn {
	margin-top: 20px;
}

.box .checkbox {
	padding-left: 31px;
}

.alt-action {
	margin-top: 20px;
	margin-bottom: -10px;
}



/**
 * articles
 */

.post-time {
	padding-top: 100px;
}

.box h1 small,
.box h2 small,
.box h3 small {
	color: #D3D3D3;
	font-size: 60%;
}

article.post {
	width: 100%;
	margin-bottom: 35px;
}

article.post:last-child {
	margin-bottom: 0;
}

.post .box-heading,
.post-list .box-heading {

	padding-bottom: 20px;
	text-transform: uppercase;
}

.box-heading a {
	text-decoration: none;
}

.links {
	border-bottom: 1px dashed #aeaaaa;
}

.full-post p {
	font-size: 17px;
	margin-bottom: 25px;
}


.post-header {
	min-height: 50px;
}
.post-content {
	padding-top: 10px;
}

.full-post .post-content p:last-child {
	margin-bottom: 0;
}

.full-post time {
	display: block;
}

.post-footer .tags {
	border-top: 1px dashed #dedede;
	padding-top: 20px;
	margin-top: 30px;
	margin-bottom: 0;
}

.edit-link {
	color: #4e5d6c;
	vertical-align: bottom;
}

.edit-link:hover {
	color: #df691a;
}

.written-by {
	color: #afafaf;
}



/**
 * edit forms
 */

form.post .box-heading {
	border-bottom: none;
	padding-bottom: 0;
}

form.post input,
form.post textarea {
	background: #E0E7ED;
}

form.post .checkbox {
	display: inline-block;
	margin-right: 10px;
}

.form-muted {
	background-color: #71777c;
}

.or {
	vertical-align: middle;
	margin-left: 5px;
}

.delete blockquote {
	padding: 8px 24px 30px;
	margin-bottom: 40px;
}


/**
 * media queries
 */

@media ( max-width: 992px ) {

	article.post {
		width: 100%;
	}

}




/**
 * Ivo:
 */


.controls a {
	font-size: 13px;
	margin-left: 8px;
	text-decoration: none;
}



.even {
	background: #2c2c2c;
}

.my-buttons {
	margin-top: 20px;

}

.delete-link {
	position: relative;
	top: 2px;
	font-size: 22px;
}

.edit-link {
	font-size: 22px;
}

.new-post {

}
.dropdown {
	position: relative;
	margin-right: 50px ;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	text-align: left;
	background-color: #4e5d6c;
	display: grid;
}

hr {
	unicode-bidi: isolate;
	width:95%;
	overflow: hidden;
	border-style: inset;
	border-width: 1px;
}


table {
	font-size: large;
	color: #fff;
	background: #34495E;
	border-collapse: collapse;
	border-radius: 8px;
	max-width: 1800px;
}
thead th {
	text-transform: capitalize;
}
th, td {
	padding: 16px 18px;
	border-bottom: 1px solid #46627f;
}
th,
tfoot td {
	color: #dd5;
	text-align: left;
	font-weight: bold;
}
tfoot td {
	text-align: right;
	border: none;
	max-width: 50px;
}
.odd {
	background-color: #40576E;
}

label {
	font-size: 20px;
	margin-right: 10px;
	cursor: pointer;
}

.delete-links {
	display: block;
	max-width: 250px;
	font-size: 18px;
	float: right;
}

.ban {
	float:left;
	margin-top: 24px;
}
.forgot-pass {
	margin-top: 40px;
	margin-bottom: 0px;
}


.profile {
	margin-left: 100px;
}

.profile-info {
	border-radius: 5px;
}

.profile-btn {
	border-radius: 5px;
	float:right;
}

.btn-profile-left {
	border-radius: 5px;
}

.profile-label {
	cursor: default;
	font-size: 16px;
}

.user_info {
	margin-bottom: 20px;
}

label.is-required:after {
	content: " *";
}

.about_me {
	position: relative;
	text-align: left;
}

li {
	list-style: none;
}
.tag-btn {
	border-radius: 5px;
	margin-bottom: 2px;
	font-size: 16px;
	margin-right: 10px;
}

.tag-controls {
	margin-top: 0px;
	margin-left: 25px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.tag-delete-btn {
	border-radius: 5px;
	margin-left: 10px;
	margin-bottom: 2px;
}

.tag-list {
	float:left;
}
.new-tag {
	margin-left: 10px;
}

.postmetadata {
	margin-right: 15px;
	border-radius: 4px;
	border: 2px solid;
	border-color: #f0ad4e;
	background-color: #f0ad4e;
}

.commentheader {
	text-align: center;
}

ol {
	padding-inline-start: 40px;
	padding-inline-end: 40px;
}

.commentlist li {
	margin: 8px 10px 8px 15px;
	padding-left: 12px;
	list-style: none;
	margin-bottom: 2px;
	background: #E5CFAB;
}

cite {
	font-style: italic;
	margin-bottom: 10px;
}

.commentcontent {
	padding-left: 25px;
}

.commentnumber {
	font: italic normal 14px 'Times New Roman', Times, serif;
	margin-top: 2px;
	padding-right: 15px;
	float: right;
	color: #480000;
	font-size: 28pt;
}

.comment {
	border-color: #E5CFAB;
	border-width: 3px;
	width: 80%;
	min-width: 40%;
	max-width: 100%;
	margin: 8px 10px 8px 15px;
	margin-bottom: 2px;
}

.comment:focus {
	border-color: black;
	/*border-width: 5px;*/
	/* background-color: #f6e3c3;*/
}

.btn-comment {
	margin: 8px 10px 8px 15px;
}